<app-alert></app-alert>
<app-navbar></app-navbar>
<div class="main-container">
  <header class="header-6"></header>

  <div class="container text-center">
    <div class="col-sm-8 offset-sm-2">
      <a routerLink="" class="btn btn-link">Single Alert</a>
      <a routerLink="/multi-alerts" class="btn btn-link">Multiple Alerts</a>
    </div>
  </div>

  <nav class="subnav">
    <span class="nav-link"><span class="nav-text">Cash:</span></span>
  </nav>

  <div class="content-container">
    <div class="content-area">
      <div class="jumbotron">
        <div class="container">
          <div class="col-sm-8 col-sm-offset-2">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
