<div class="container">
  <div class="form">
      <dx-button
      id="button"
      [height]="40"
      [width]="180"
      (onClick)="onClick($event)">
      <div *dxTemplate="let data of 'content'">
          <dx-load-indicator class='button-indicator'
              [visible]="loadIndicatorVisible">
          </dx-load-indicator>
          <span class='dx-button-text'>{{buttonText}}</span>
      </div>
    </dx-button>
  </div>
  <div>
    <a routerLink="/schedule/create">Create schedule<span></span></a>
  </div>
  <div class="table-responsive">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Schedule</h3>
        <div class="card-text">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Staus</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let schedule of schedules" class="schedule">
                <td>{{ schedule.name }}</td>
                <td>{{ schedule.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
