<div class="container">
  <div class="table-responsive">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Schedule</h3>
        <div class="card-text">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Staus</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let schedule of schedules" class="schedule">
                <td>{{ schedule.name }}</td>
                <td>{{ schedule.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
