<nav class="navbar navbar-expand-l navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="#">Delivery</a>
    </div>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="nav-menu"
    aria-controls="nav-menu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <div id="nav-menu" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
        <a class="nav-item nav-link active" routerLink="/transfer"
          >Transfer<span class="sr-only">(current)</span></a
        >
      </li>
      <li>
        <a class="nav-item nav-link active" routerLink="/document"
          >Document<span class="sr-only">(current)</span></a
        >
      </li>
      <li>
        <a class="nav-item nav-link active" routerLink="/report-execution"
          >Runs<span class="sr-only">(current)</span></a
        >
      </li>
      <li>
        <a class="nav-item nav-link active" routerLink="/schedule"
          >Schedule<span class="sr-only">(current)</span></a
        >
      </li>
      <li>
        <a class="nav-item nav-link active" routerLink="/report-def"
          >Definition<span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>

  <!--
<dx-nav-bar>
    <dxi-item text="Transfer" routerLink="/transfer">
      </dxi-item>
    <dxi-item text="Document"></dxi-item>
    <dxi-item text="Runs"></dxi-item>
    <dxi-item text="Execute"></dxi-item>
    <dxi-item text="Schedule" routerLink="/schedule"></dxi-item>
    <dxi-item text="Definition"></dxi-item>
</dx-nav-bar>
--></nav>
